@import url('https://fonts.googleapis.com/css2?family=Pokemon+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    font-family: 'VT323', monospace;
    background-color: #FF6D60;
    font-size: 20px;
  }
#seleccionar-mascota {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
    color: white;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 40px;
  }
  .subtitulo{
      color: white;
      font-size: 20px;
  }
.tarjetas {
  display: flex;
  gap: 10px;

}
.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #F7D060;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.tarjeta-de-mokepon img{
    width: 80px;
}
input {
  display: none;
}
button {
}
